@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #522B29;
}

.icons1 path{
    transition: all 0.3s;
}

.icons1:hover path{
    color: #ea580c;
}

.btn-car:hover .icons1{
    border-color: #ea580c;
}

.btn-car:hover path{
    color: #ea580c;
}

.icons2 path{
    color: white;
    transition: all 0.3s;
}

.btn-log:hover path{
    color: #ea580c;
}

@layer base {
    .active_link{
        @apply relative text-orange-600 font-semibold after:content-[''] after:rounded-full after:absolute after:-left-1 after:bottom-0 after:w-[35%] md:after:w-[120%] after:h-0.5 after:bg-orange-600
    }

    .deactive_link{
        @apply relative font-semibold after:content-[''] after:rounded-full after:absolute after:-left-1 after:bottom-0 after:w-[0%] hover:after:w-[35%]  hover:md:after:w-[120%] after:h-0.5 after:bg-orange-600 after:transition-all after:duration-300 hover:text-orange-600 duration-200 transition-all
    }
}